.sec-mv {
	background: url("../img/index/mv-bg-02.png") no-repeat, url("../img/index/mv-bg-01.png");
	background-position: top -12px right, top left;
	@include mq(sm) {
		background: url("../img/index/mv-bg-01-sp.png") no-repeat;
		background-size: cover;
		background-position: left bottom;
	}
}
.mv {
	&-box {
		width: 100%;
		max-width: 1300px;
		margin: 0 auto;
		position: relative;
	}
	&-img {
		text-align: right;
		padding: 0 20px;
		@include mq(sm) {
			padding: 0;
			position: relative;
		}
	}
	&-logo {
		@include mq(sm) {
			position: absolute;
			top: 36px;
			right: 0;
			left: 0;
			text-align: center;
			padding: 0 0 0 2px;
		}
		@include mq(xs) {
			top: 25px;
			padding: 0;
		}
	}
	&-heart {
		position: absolute;
		z-index: 1;
		bottom: 3%;
		left: 3.4%;
		width: 53.85%;
		@include mq(xl) {
			bottom: 10%;
			width: 43%;
		}
		@include mq(sm) {
			width: auto;
			left: 2.8%;
			bottom: 3.5%;
		}
	}
	&-candy {
		position: absolute;
		z-index: 2;
		bottom: 7.5%;
		left: 5.7%;
		width: 34.93%;
		@include mq(xl) {
			width: 26%;
		}
		@include mq(sm) {
			width: auto;
			bottom: 13.3%;
			left: 5.8%;
		}
	}
	&-txt {
		background: #43ACD7;
		position: relative;
		padding: 3px 15px 44px;
		text-align: right;
		margin-top:-62px;
		@include mq(xl) {
			padding: 30px 15px 44px;
		}
		@include mq(sm) {
			margin-top: -42px;
			padding: 8px 0 25px
		}
		&:before {
			position: absolute;
			content: '';
			height: 48px;
			left: 0;
			right: 0;
			bottom: 100%;
			background: url("../img/index/bg-01.png") repeat-x;
			@include mq(sm) {
				height: 23px;
				background: url("../img/index/bg-01-sp.png") repeat-x;
			}
		}
		.wrap {
			width: 100%;
			max-width: 1232px;
			margin: 0 auto;
			.txt {
				padding-right: 3px;
				@include mq(sm) {
					text-align: center;
					margin: 0 -26px 0 -29px;
				}
			}
		}
	}
	&-ttl {
		margin-bottom: 31px;
		@include mq(sm) {
			padding: 0 15px;
			margin-bottom: 13px;
		}
	}
}

.sec-gift {
	position: relative;
	padding: 58px 15px 50px;
	background: url("../img/index/gift-bg.png") no-repeat;
	background-position: center bottom;
	@include mq(sm) {
		padding: 25px 22px 64px;
		background: url("../img/index/gift-bg-sp.png") no-repeat;
		background-position: center bottom 20%;
	}
}
.gift {
	&-box {
		width: 100%;
		max-width: 1100px;
		margin: 0 auto;
		text-align: center;
		color: white;
	}
	&-logo {
		margin-bottom: 116px;
		@include mq(sm) {
			text-align: left;
			margin-bottom: 43px;
		}
	}
	&-ttl {
		margin-bottom: 49px;
		@include mq(sm) {
			margin-bottom: 24px;
		}
		
	}
	&-des {
		@include font-size(30);
		font-weight: bold;
		line-height: 1.75;
		margin-bottom: 37px;
		letter-spacing: 5.4px;
		@include mq(sm) {
			@include font-size(20);
			line-height: 1.48;
			margin-bottom: 28px;
			letter-spacing: 1px;
		}
		@include mq(xs) {
			letter-spacing: 0;
		}
	}
	&-txt {
		@include font-size(16);
		font-weight: 500;
		line-height: 2.3;
		letter-spacing: 1.9px;
		@include mq(sm) {
			@include font-size(14);
			line-height: 2.15;
			letter-spacing: 1px;
		}
		@include mq(xs) {
			@include font-size(12);
			letter-spacing: 0;
		}
	}
	&-candy {
		position: absolute;
		bottom: 0;
		right: 0;
		z-index: -1;
		@include mq(sm) {
			width: 127px;
			bottom: -61px;
		}
	}
}

.sec-lineup {
	//padding-bottom: 50px;
}
.lineup {
	&-ttl {
		padding: 91px 15px 71px;
		text-align: center;
		background: url("../img/index/lineup-ttl-bg.png") no-repeat;
		background-size: 100% 100%;
		background-position: bottom center;
		position: relative;
		z-index: 2;
		margin-bottom: -150px;
		@include mq(ipd) {
			background-size: cover;
		}
		@include mq(sm) {
			background: url("../img/index/lineup-ttl-bg-sp02.png") no-repeat;
			background-size: 100% 100%;
			background-position: bottom center;
			padding: 0 15px 71px;
			.txt {
				position: relative;
				z-index: 1;
			}
			.img {
				position: absolute;
				right: 0;
				top: -59px;
				width: 126px;
			}
		}
		@media only screen and (max-width: 450px) {
			background: url("../img/index/lineup-ttl-bg-sp02.png") no-repeat;
			background-size: cover;
			background-position: bottom center;
		}
		.txt {
			display: block;
		}
	}
	&-box {
		position: relative;
		z-index: 1;
		padding: 218px 15px 303px;
		color: white;
		@include mq {
			padding: 100px 15px 200px;
		}
		@include mq(sm) {
			padding: 0;
		}
		&:before,&:after {
			position: absolute;
			content:'';
			width: 50%;
			top: 0;
			bottom: 0;
			z-index: -2;
			@include mq(sm) {
				display: none;
			}
		}
		&:before {
			left: 0;
			background: url("../img/index/lineup-txt-01.png") no-repeat, url("../img/index/lineup-bg-pink.png");
			background-position: left bottom 28.5%, top left;
			@include mq(lg) {
				background-size: 10% auto, auto auto;
			}
		}
		&:after {
			right: 0;
			background: url("../img/index/lineup-txt-02.png") no-repeat, url("../img/index/lineup-bg-yellow.png");
			background-position: right -12px bottom 22.6%, top left;
			@include mq(lg) {
				background-size: 10% auto, auto auto;
			}
		}
		&__row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			max-width: 1300px;
			margin: 0 auto;
		}
		&__img {
			position: absolute;
			z-index: -1;
			bottom: 248px;
			left: calc(50% + 29px);
			transform: translateX(-50%);
			@include mq(xl) {
				width: 31%;
				left: calc(51.7%);
				bottom: 27%;
			}
			@include mq {
				width: 29%;
				left: 51.3%;
				bottom: 27%;
			}
			@media only screen and (max-width: 710px) {
				width: 21%;
				left: 51%;
				bottom: 34%;
			}
		}
		&__ttl {
			margin-bottom: 57px;
			@include mq {
				text-align: center;
				margin-bottom: 79px;
				padding-left: 4px;
			}
		}
		&__content {
			width: 100%;
			max-width: 472px;
			margin-left: auto;
			@include mq(xl) {
				max-width: 354px;
			}
			@include mq {
				max-width: 100%;
			}
		}
		&__des {
			@include font-size(24);
			font-weight: bold;
			line-height: 1.75;
			margin-bottom: 44px;
			@include mq(xl) {
				@include font-size(20);
			}
			@include mq {
				line-height: 1.672;
				margin-bottom: 14px;
			}
			> span {
				position: relative;
				z-index: 1;
				.img {
					position: absolute;
					z-index: -1;
					top: -41px;
					left: 98.6%;
					width: 137px;
					@include mq {
						top: -42px;
						left: 77.2%;
						width: 74px;
					}
				}
			}
		}
		&__txt {
			@include font-size(16);
			font-weight: 500;
			line-height: 1.9;
			margin-bottom: 20px;
			@include mq(xl) {
				@include font-size(14);
				margin-bottom: 51px;
			}
		}
		&__tag {
			display: flex;
			flex-wrap: wrap;
			@include font-size(14);
			line-height: 1.2;
			margin: 0 0 16px -5px;
			font-weight: 500;
			@include mq {
				margin: 0 0 16px 0;
				padding: 0 0 0 4px;
			}
			span {
				background: white;
				text-align: center;
				padding: 3px 15px 3px 15px;
				border-radius: 4px;
				margin-right: 10px;
				color: #000000;
				@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
					padding: 6px 15px 0px 15px;
				}
			}
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin-left: -2px;
			@include mq {
				margin-left: 0;
				padding: 0 0 0 7px;
			}
			.item {
				width: 64px;
				height: 64px;
				border-radius: 50%;
				border: 1px solid white;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-right: 6px;
				@include font-size(12);
				font-weight: 500;
				@include mq {
					width: 54px;
					height: 54px;
				}
				@include mq(sm) {
					width: 64px;
					height: 64px;
				}
				@include mq(xs) {
					width: 54px;
					height: 54px;
				}
			}
		}
		&__col {
			width: 50%;
			@include mq(sm) {
				width: 100%;
			}
			.wrap {
				width: 100%;
				max-width: 512px;
				margin: 0 auto;
				@include mq {
					max-width: 100%;
					padding: 0 21px;
				}
			}
			&.col01 {
				@include mq(sm) {
					background: url("../img/index/lineup-box-bg-01.png") no-repeat, url("../img/index/lineup-txt-01-sp.png") no-repeat, url("../img/index/lineup-bg-pink.png");
					background-position: right -1px top 473px, left top 123px, top left;
					padding: 145px 0 71px;
				}
				@include mq(xs) {
					background-size: 30% auto, auto, auto;
				}
			}
			&.col02 {
				color: #351815;
				@include mq(sm) {
					background: url("../img/index/lineup-box-bg-02.png") no-repeat, url("../img/index/lineup-txt-02-sp.png") no-repeat, url("../img/index/lineup-bg-yellow.png");
					background-position: left 0 top 344px, right -7px bottom 27px, top left;
					padding: 48px 0 134px;
				}
				@include mq(xs) {
					background-size: 62% auto, auto, auto;
				}
				.lineup-box {
					@include mq(sm) {
						&__ttl {
							padding: 0 14px 0 0;
							margin-bottom: 88px;
						}
					}
					&__tag {
						margin: 0 0 16px 0;
						padding-left: 1px;
						@include mq(sm) {
							padding: 0 0 0 8px;
						}
					}
					&__list {
						margin: 0;
						padding-left: 4px;
						@include mq(sm) {
							padding: 0 0 0 10px;
						}
						.item {
							border-color: #351815;
						}
					}
					&__content {
						max-width: 338px;
						@include mq(lg) {
							max-width: 314px;
						}
						@include mq {
							max-width: 258px;
						}
						@include mq(sm) {
							max-width: 100%;
						}
					}
					&__des {
						margin-bottom: 20px;
						@include mq(sm) {
							width: 57%;
							margin-left: auto;
							margin-bottom: 11px;
						}
						@include mq(xs) {
							width: 66%;
						}
						> span {
							.img {
								top: -15px;
								left: 116.8%;
								@include mq(sm) {
									top: -34px;
									left: 66.3%;
									width: 61px;
								}
							}
						}
					}
					&__txt {
						margin-bottom: 44px;
						@include mq(sm) {
							width: 57%;
							margin-left: auto;
							margin-bottom: 84px;
						}
						@include mq(xs) {
							width: 66%;
						}
					}
				}
				.wrap {
					max-width: 470px;
					transform: translate(21px, -21px);
					@include mq(sm) {
						max-width: 100%;
						transform: none;
					}
				}
			}
		}
	}
}

.sec-secret {
	position: relative;
	z-index: 1;
	padding: 0 15px;
	@include mq {
		padding: 0 18px;
	}
	&:before, &:after {
		position: absolute;
		left: 0;
		right: 0;
		content: '';
		z-index: -1;
		pointer-events: none;
	}
	&:before {
		bottom: 100%;
		height: 213px;
		background: url("../img/index/secret-bg-01.png") no-repeat;
		background-size: 100% 100%;
		@include mq {
			height: 61px;
			background: url("../img/index/secret-bg-01-sp.png") no-repeat;
			background-size: 100% 100%;
		}
	}
	&:after {
		top: calc(100% - 360px);
		height: 575px;
		background: url("../img/index/secret-bg-02.png") no-repeat;
		background-size: 100% 100%;
		background-position: bottom center;
		@include mq {
			top: calc(100% - 60px);
			height: 190px;
			background: url(../img/index/secret-bg-02-sp.png) no-repeat;
			background-size: 100% 100%;
			background-position: bottom center;
		}
	}
}
.secret {
	&-box {
		width: 100%;
		max-width: 1052px;
		margin: 0 auto;
		padding: 0 0 150px;
		position: relative;
		background: url("../img/index/gift-bg.png") no-repeat;
		background-position: right 40% top 39%;
		@include mq {
			padding: 34px 0 83px;
		}
		@include mq(sm) {
			background: url("../img/index/gift-bg-sp.png") no-repeat;
			background-position: center bottom 20%;
		}
	}
	&-ttl {
		margin-bottom: -5px;
		transform: translateY(-15px);
		.before {
			position: absolute;
			top: 0;
			left: 0;
			transform: none;
			text-align: left;
		}
		@include mq {
			transform: none;
			margin-bottom: 35px;
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		@include font-size(16);
		font-weight: 500;
		line-height: 1.75;
		color: white;
		@include mq(ipd) {
			justify-content: center;
			margin-bottom: -20px;
		}
		@include mq {
			@include font-size(14);
			line-height: 2;
		}
		@include mq(sm) {
			margin-bottom: 0;
		}
		&__item {
			@include mq(ipd-min) {
				&:first-child {
					margin: 68px 62px 0 13px;
					@include mq(xl) {
						margin-right: 10px;
					}
				}
				&:nth-of-type(2) {
					margin-top: 237px;
					margin-right: 10px;
				}
			}
			@include mq(ipd) {
				width: 50%;
				padding: 0 10px;
				margin-bottom: 20px;
			}
			@include mq(sm) {
				width: 100%;
				padding: 0;
				margin-bottom: 48px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__img {
			margin-bottom: 22px;
			@include mq(sm) {
				margin: 0 0 21px -17px;
			}
		}
	}
	&-candy {
		position: absolute;
		bottom: -1.4%;
		left: -0.7%;
		width: 23.67%;
		@include mq {
			bottom: -83px;
			left: 15px;
			width: 139px;
		}
	}
	&-person {
		position: absolute;
		bottom: -20.2%;
		right: -4.2%;
		width: 34.51%;
		@include mq {
			bottom: -128px;
			right: 14px;
			width: 155px;
		}
	}
}

.sec-scene {
	background-color: #43ACD7;
	background-image: url("../img/index/bg-heart.png");
	padding: 0 15px;
	@include mq {
		padding: 0 20px;
	}
}
.scene {
	&-box {
		width: 100%;
		max-width: 1068px;
		margin: 0 auto;
		background: white;
		color: #351815;
		padding: 264px 15px 181px;
		@include mq {
			padding-top: 160px;
		}
		@include mq(sm) {
			padding: 160px 22px 64px;
		}
	}
	&-ttl {
		font-family: $font-mincho;
		@include font-size(48);
		line-height: 1.4;
		text-align: center;
		margin-bottom: 92px;
		@include mq {
			@include font-size(28);
			margin-bottom: 61px;
		}
		@include mq(xs) {
			@include font-size(20);
		}
		.en {
			font-family: $font-Lovelo;
			@include font-size(55);
			line-height: 1.2;
			display: block;
			font-weight: bold;
			margin-bottom: 14px;
			@include mq(xs) {
				@include font-size(45);
			}
		}
	}
	&-list {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		width: 100%;
		max-width: 882px;
		margin: 0 auto -103px;
		@include mq(sm) {
			margin-bottom: 0;
		}
		&__item {
			width: 50%;
			text-align: center;
			padding: 0 10px;
			margin-bottom: 103px;
			@include mq(sm) {
				width: 100%;
				padding: 0;
				margin-bottom: 50px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
		&__img {
			margin-bottom: 34px;
			@include mq {
				margin-bottom: 31px;
			}
		}
		&__ttl {
			font-family: $font-Lovelo;
			font-weight: bold;
			@include font-size(39);
			line-height: 1.2;
			margin-bottom: 9px;
			@include mq(xs) {
				@include font-size(30);
			}
		}
		&__des {
			font-weight: bold;
			@include font-size(21);
			line-height: 2;
			margin-bottom: 6px;
			letter-spacing: 3px;
			@include mq {
				letter-spacing: 0;
				margin-bottom: 3px;
			}
			@include mq(xs) {
				@include font-size(18);
				letter-spacing: 1px;
			}
		}
		&__txt {
			@include font-size(16);
			line-height: 1.8;
			font-weight: 500;
			@include mq {
				@include font-size(14);
				line-height: 2;
			}
			@include mq(xs) {
				@include font-size(12);
			}
		}
	}
}

.sec-available {
	text-align: center;
	padding: 104px 15px 106px;
	background: url("../img/index/available-bg.png") no-repeat;
	background-size: cover;
	@include mq {
		background: url("../img/index/available-bg-sp.png") no-repeat;
		background-size: cover;
		padding: 39px 10px;
	}
}
.available {
	&-ttl {
		margin-bottom: 20px;
		@include mq {
			margin-bottom: 11px;
		}
	}
	&-txt {
		@include font-size(22);
		font-weight: bold;
		line-height: 2;
		color: white;
		letter-spacing: 4.3px;
		@include mq {
			@include font-size(14);
			line-height: 1.8;
			letter-spacing: 2.6px;
		}
	}
}

.sec-social {
	padding: 150px 0 117px;
	background: url("../img/index/bg-heart.png"), url("../img/index/social-bg.png") repeat-y;
	background-size: auto, 100% auto;
	@include mq {
		padding: 42px 0 100px;
	}
}
.social {
	&__inner {
		padding: 0 30px 0 20px;
		max-width: 1102px;
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		@include mq {
			padding: 0 15px;
		}
		> * {
			width: 49%;
			@include mq {
				width: 100%;
				max-width: 500px !important;
				margin:  0 auto;
			}
		}
	}
	&__ttl {
		margin-bottom: 35px;
		@include mq {
			margin-bottom: 14px;
		}
	}
	&-twitter {
		max-width: 480px;
		@include mq {
			margin-bottom: 33px;
		}
		.twitter-timeline {
			//width: 100% !important;
			@include mq {
				height: 444px !important;
			}
		}
		&__txt {
			@include font-size(22);
			line-height: 1.4;
			font-weight: 500;
			color: #351815;
			margin-bottom: 36px;
			@include mq {
				@include font-size(16);
				letter-spacing: 1.6px;
				margin-bottom: 17px;
			}
		}
	}
	&-insta {
		margin-left: auto;
		max-width: 447px;
	}
}