
body {
	color: #333333;
	font-family: $font-Yugothic;
	font-size: 100%;
	-webkit-font-smoothing: antialiased;
	line-height: 1.4;
	background: url("../img/common/bg-page.png") repeat-y;
	background-size: 100% auto;
	overflow: hidden;
	position: relative;
}



//header
.header{
	position: absolute;
	right: 0;
	left: 0;
	z-index: 997;
	display: flex;
	justify-content: flex-end;
	&.fixed {
		position: fixed;
		top: 0 !important;
	}
	&.style {
		z-index: 999;
	}
	&-control {
		position: relative;
		cursor: pointer;
		@include mq {
			width: 162px;
		}
		.wrap {
			position: absolute;
			width: 34px;
			height: 17px;
			top: 24.2%;
			right: 16.5%;
			@include mq {
				width: 35px;
				height: 21px;
				top: 34.2%;
				right: 13.8%;
			}
			span {
				position: absolute;
				background: white;
				height: 2px;
				width: 100%;
				left: 0;
				&:first-child {
					top:0;
				}
				&:nth-of-type(2) {
					top: 44%;
				}
				&:last-child {
					bottom: 0;
				}
			}
		}
	}
	&-nav {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 100vh;
		background: rgba(#333333, 0.5);
		overflow-x: hidden;
		overflow-y: auto;
		opacity: 0;
		pointer-events: none;
		@include smooth-transition;
		z-index: 999;
		&.on {
			opacity: 1;
			pointer-events: auto;
		}
		.control {
			position: absolute;
			width: 46px;
			height: 46px;
			top: 36px;
			right: 30px;
			cursor: pointer;
			z-index: 1;
			@include mq {
				width: 45px;
				height: 45px;
				top: 23px;
				right: 15px;
			}
			&:before, &:after {
				position: absolute;
				content: '';
				width: 3px;
				background: white;
				height: 100%;
				top: 50%;
				left: 50%;
				z-index: 1;
			}
			&:before {
				transform: translate(-50%, -50%) rotate(45deg);
			}
			&:after {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}
	&-menu {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 482px;
		background: #FF6151;
		color: white;
		padding: 138px 59px 105px 78px;
		@include mq {
			width: 93%;
			max-width: 338px;
			padding: 94px 19px 78px 37px;
		}
		&__item {
			a {
				display: block;
				border-bottom: 1px solid #fff;
				padding: 31px 10px 30px 10px;
				letter-spacing: 3px;
				@include font-size(14);
				line-height: 1.4;
				font-weight: 500;
				position: relative;
				&:before {
					position: absolute;
					content: url("../img/common/ico-heart.png");
					top: calc(50% - 9px);
					right: 18px;
					opacity: 0;
					@include smooth-transition;
				}
				@include mq {
					padding: 31px 10px 30px 12px;
					letter-spacing: 1.5px;
				}
				.en {
					font-family: $font-Baskerville;
					@include font-size(16);
					font-weight: bold;
					margin-right: 47px;
					@include mq {
						margin-right: 13px;
					}
				}
				&:hover {
					opacity: 1;
					&:before {
						opacity: 1;
					}
				}
			}
			&:first-child {
				a {
					border-top: 1px solid #fff;
				}
			}
		}
	}
}


//footer
.footer{
	background: #E52731;
	color: white;
	padding: 104px 15px 40px;
	text-align: center;
	position: relative;
	z-index: 998;
	@include mq {
		padding: 66px 15px 26px;
	}
	&-list {
		display: flex;
		justify-content: center;
		margin-bottom: 84px;
		@include mq {
			flex-wrap: wrap;
			margin-bottom: 53px;
		}
		.item {
			padding: 0 59px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			@include mq {
				padding: 0 44px 0 45px;
				&:nth-of-type(2) {
					&:after {
						position: absolute;
						content: '';
						width: 2px;
						background: white;
						top: 3px;
						bottom: 3px;
						left: -1px;
					}
				}
			}
			&:before {
				position: absolute;
				content: '';
				width: 2px;
				background: white;
				top: 9px;
				bottom: 9px;
				right: -1px;
				@include mq {
					top: 3px;
					bottom: 3px;
				}
			}
			&:first-child {
				padding-left: 0;
				@include mq {
					width: 100%;
					padding: 0;
					margin-bottom: 33px;
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.copyright {
		@include font-size(12);
		font-weight: 500;
		line-height: 1.4;
		letter-spacing: 1px;
		@include mq {
			letter-spacing: 0;
		}
	}
}
.backtop {
	position: absolute;
	bottom: 117px;
	right: 25px;
	z-index: 998;
	transition: 0s all;
	@include mq {
		bottom: calc(100% - 17px);
		right: calc(50% - 41px);
	}
	&.fixed {
		position: fixed;
		bottom: 25px;
		@include mq {
			bottom: 20px;
			right: 20px;
		}
	}
}