.inner {
	display: block;
	width: 100%;
	max-width: 1110px;
	padding: 0 15px;
	margin: 0 auto;
}


.clearfix {
	*zoom: 1;
	&:before {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
		content: "";
		display: table;
	}
}

a{
	color: inherit;
	text-decoration: none;
	@include smooth-transition;
	&:hover{
		opacity: 0.7;
	}
	&[href^="tel"] {
		@include mq(md-min){
			pointer-events: none;
		}
	}
}


.pc{
	@include mq(){
		display: none !important;
	}
	&-ipd{
		@include mq(ipd){
			display: none !important;
		}
	}
	&-lg{
		@include mq(lg){
			display: none !important;
		}
	}
	&-sm{
		@include mq(sm){
			display: none !important;
		}
	}
	&-xs{
		@include mq(xs){
			display: none !important;
		}
	}
}
.sp{
	@include mq(md-min){
		display: none !important;
	}
	&-ipd{
		@include mq(ipd-min){
			display: none !important;
		}
	}
	&-lg{
		@include mq(lg-min){
			display: none !important;
		}
	}
	&-sm{
		@include mq(sm-min){
			display: none !important;
		}
	}
}


//ttl
.ttl-comp{
	&01{

	}
	&02{

	}
	&03{

	}
}

//text
.txt{
	&-basic{
		line-height: 1.8;
		@include font-size(16);
		@include mq(){
			@include font-size(14);
			line-height: 1.6;
		}
	}
	&-center {
		text-align: center;
	}
	&-right {
		text-align: right;
	}
	&-left {
		text-align: left;
	}
}



//btn
.btn {

}


// animation
.animation1 {
	animation: animation1 1.5s infinite ease-in-out alternate;
}
@keyframes animation1 {
	0% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}

.effect01 {
	position: relative;
	z-index: 1;
	.before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: 0.1;
		text-align: center;
		z-index: -1;
		width: 100%;
	}
	.effect-main {
		> img {
			opacity: 0;
		}
	}
	&.on {
		animation: neonBlink;
		animation-duration: 4s;
		animation-timing-function: steps(60);
		animation-iteration-count: infinite;
		animation-delay: 0.45s;
		.effect-main {
			> img {
				animation: neonBlinkOn;
				animation-duration: 1.8s;
				animation-timing-function: steps(18);
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
				animation-delay: 0.35s;
			}
		}
	}
}
@keyframes neonBlink {
	0% {
		opacity: 1;
	}
	30% {
		opacity: 0.9;
	}
	61% {
		opacity: 1;
	}
	63% {
		opacity: 0.95;
	}
	64% {
		opacity: 1;
	}
	65% {
		opacity: 0.95;
	}
	66% {
		opacity: 1;
	}
	67% {
		opacity: 0.85;
	}
	68% {
		opacity: 1;
	}
	80% {
		opacity: 0.95;
	}
	100% {
		opacity: 1;
	}
}
@keyframes neonBlinkOn {
	0% {
		opacity: 0;
	}
	6% {
		opacity: 0.9;
	}
	7% {
		opacity: 0.2;
	}
	13% {
		opacity: 0.1;
	}
	30% {
		opacity: 0.1;
	}
	32% {
		opacity: 0.65;
	}
	34% {
		opacity: 0.25;
	}
	38% {
		opacity: 0.45;
	}
	40% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}


.effectScale {
	&-item {
		transform: scale(0,0);
	}
	&.on {
		.effectScale-item {
			animation: popin .8s ease forwards;
			&:nth-of-type(2) {
				animation-delay: .3s;
			}
			&:nth-of-type(3) {
				animation-delay: .6s;
			}
			&:nth-of-type(4) {
				animation-delay: .9s;
			}
			&:nth-of-type(5) {
				animation-delay: 1.2s;
			}
			&:nth-of-type(6) {
				animation-delay: 1.5s;
			}
			&:nth-of-type(7) {
				animation-delay: 1.8s;
			}
			&:nth-of-type(8) {
				animation-delay: 2.1s;
			}
		}
	}
}

@keyframes popin {
	0% {
		transform: scale(0, 0);
	}
	80% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(1, 1);
	}
}