
<footer id="footer" class="footer">
	<ul class="footer-list">
		<li class="item">
			<a href="">
				<span class="pc">
					<img src="<%= RELATIVE_PATH %>img/common/logo-f.png" alt="株式会社モントワール">
				</span>
				<span class="sp">
					<img src="<%= RELATIVE_PATH %>img/common/logo-f-sp.png" alt="株式会社モントワール">
				</span>
			</a>
		</li>
		<li class="item">
			<a href="https://twitter.com/welovebonobon" target="_blank">
				<span class="pc">
					<img src="<%= RELATIVE_PATH %>img/common/ico-twitter.png" alt="twitter">
				</span>
				<span class="sp">
					<img src="<%= RELATIVE_PATH %>img/common/ico-twitter-sp.png" alt="twitter">
				</span>
			</a>
		</li>
		<li class="item">
			<a href="https://www.instagram.com/bonobon_jp/" target="_blank">
				<span class="pc">
					<img src="<%= RELATIVE_PATH %>img/common/ico-ins.png" alt="instagram">
				</span>
				<span class="sp">
					<img src="<%= RELATIVE_PATH %>img/common/ico-ins-sp.png" alt="instagram">
				</span>
			</a>
		</li>
	</ul>
	<p class="copyright">
		Copyright &copy; 2020 MONTOILE Co.,Ltd. All Right Reserved.
	</p>
	<a href="" class="backtop fixed">
		<img src="<%= RELATIVE_PATH %>img/common/backtop.png" alt="backtop">
	</a>
</footer>