<header id="header" class="header">
	<div class="header-control">
		<img src="<%= RELATIVE_PATH %>img/common/header-control.png" alt="img">
		<span class="wrap">
			<span></span>
			<span></span>
			<span></span>
		</span>
	</div>
	<nav class="header-nav">
		<span class="control"></span>
		<ul class="header-menu">
			<li class="header-menu__item">
				<a href="#box01" class="link">
					<span class="en">TOP</span> トップ
				</a>
			</li>
			<li class="header-menu__item">
				<a href="#box02" class="link">
					<span class="en">LINEUP</span> 商品一覧
				</a>
			</li>
			<li class="header-menu__item">
				<a href="#box03" class="link">
					<span class="en">SECRET</span> 愛されるヒミツ
				</a>
			</li>
			<li class="header-menu__item">
				<a href="#box04" class="link">
					<span class="en">SCENE</span> こんなときに
				</a>
			</li>
		</ul>
	</nav>
	<span class="header-overlay"></span>
</header>