<main class="page-<%= pageData.template %>">
	<section class="sec-mv" id="box01">
		<div class="mv-box">
			<div class="mv-img">
				<span class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-02.png" alt="ボンボン　キモチが伝える一粒">
				</span>
				<span class="sp-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-02-sp.png" width="352" alt="ボンボン　キモチが伝える一粒">
				</span>
				<span class="mv-logo sp-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-logo-sp.png" width="261" alt="ボンボン　キモチが伝える一粒">
				</span>
			</div>
			<div class="mv-heart">
				<span class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-heart.png" alt="bonobon">
				</span>
				<span class="sp-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-heart-sp.png" alt="bonobon">
				</span>
			</div>
			<div class="mv-candy animation1">
				<span class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-candy.png" alt="bonobon">
				</span>
				<span class="sp-sm">
					<img src="<%= RELATIVE_PATH %>img/index/mv-candy-sp.png" alt="bonobon">
				</span>
			</div>
		</div>
		<div class="mv-txt">
			<div class="wrap">
				<h1 class="mv-ttl">
					<span class="pc-sm">
						<img src="<%= RELATIVE_PATH %>img/index/mv-ttl.png" alt="one bon o bon for a kiss">
					</span>
					<span class="sp-sm">
						<img src="<%= RELATIVE_PATH %>img/index/mv-ttl-sp.png" alt="one bon o bon for a kiss">
					</span>
				</h1>
				<p class="txt">
					<span class="pc-sm">
						<img src="<%= RELATIVE_PATH %>img/index/mv-txt.png" alt="bon o bon">
					</span>
					<span class="sp-sm">
						<img src="<%= RELATIVE_PATH %>img/index/mv-txt-sp.png" alt="bon o bon">
					</span>
				</p>
			</div>
		</div>
	</section>
	
	<section class="sec-gift">
		<div class="gift-box">
			<div class="gift-logo">
				<span class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/index/gift-logo.png" alt="ボンボン">
				</span>
				<span class="sp-sm">
					<img src="<%= RELATIVE_PATH %>img/index/gift-logo-sp.png" alt="ボンボン">
				</span>
			</div>
			<h2 class="gift-ttl effect01">
				<span class="pc-sm effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/gift-ttl.png" alt="キモチが伝える一粒 One bon o bon for a kiss">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/gift-ttl-bg-pc.png" alt="キモチが伝える一粒 One bon o bon for a kiss">
					</span>
				</span>
				<span class="sp-sm effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/gift-ttl-sp.png" alt="キモチが伝える一粒 One bon o bon for a kiss">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/gift-ttl-bg-sp.png" alt="キモチが伝える一粒 One bon o bon for a kiss">
					</span>
				</span>
			</h2>
			<p class="gift-des">
				子どもから大人まで <br class="sp">みんなが贈り物として<br>気持ちを伝えるチョコレート
			</p>
			<p class="gift-txt">
				世界60カ国以上で親しまれている<br class="sp">“bon o bon（ボノボン）”。<br>
				キャンディのような可愛い包み紙と<br>お口いっぱいに広がる甘いチョコレートで<br>ちょっと幸せな一時をプレゼントしませんか？
			</p>
		</div>
		<div class="gift-candy pc-sm animation1">
			<img src="<%= RELATIVE_PATH %>img/index/gift-candt.png" width="270" alt="キモチが伝える一粒 One bon o bon for a kiss">
		</div>
	</section>
	
	<section class="sec-lineup">
		<h2 class="lineup-ttl">
			<span class="txt effect01" id="box02">
				<span class="pc effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl.png" alt="LINEUP あなたはどっちを贈る？">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-bg-pc.png" alt="LINEUP あなたはどっちを贈る？">
					</span>
				</span>
				<span class="sp effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-sp.png" alt="LINEUP あなたはどっちを贈る？">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-bg-sp.png" alt="LINEUP あなたはどっちを贈る？">
					</span>
				</span>
			</span>
			
			<span class="img sp-sm animation1"><img src="<%= RELATIVE_PATH %>img/index/gift-candt.png" alt="LINEUP あなたはどっちを贈る？"></span>
		</h2>
		<div class="lineup-box">
			<div class="lineup-box__row">
				<div class="lineup-box__col col01">
					<div class="wrap">
						<div class="lineup-box__ttl">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-01.png" width="470" alt="クリーミーな甘さがクセになる。">
						</span>
							<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-01-sp.png" width="325" alt="クリーミーな甘さがクセになる。">
						</span>
						</div>
						<div class="lineup-box__content">
							<p class="lineup-box__des">
						<span>
							ボノボン <br>
							クリーミークリーム
							<span class="img">
								<img src="<%= RELATIVE_PATH %>img/index/lineup-ico-01.png" alt="ボノボンチョコクリーム">
							</span>
						</span>
							</p>
							<p class="lineup-box__txt">
								ウエハースの中にクリーミーな<br>ピーナッツクリームを流し込み<br>さらにチョコレートでコーティング。
							</p>
							<p class="lineup-box__tag"><span>アレルギー</span></p>
							<ul class="lineup-box__list">
								<li class="item">
									小麦
								</li>
								<li class="item">
									乳成分
								</li>
								<li class="item">
									落花生
								</li>
								<li class="item">
									大豆
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="lineup-box__col col02">
					<div class="wrap">
						<div class="lineup-box__ttl">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-02.png" width="470" alt="Wチョコレートで贅沢な気分。">
						</span>
							<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/lineup-ttl-02-sp.png" width="306" alt="Wチョコレートで贅沢な気分。">
						</span>
						</div>
						<div class="lineup-box__content">
							<p class="lineup-box__des">
						<span>
							ボノボン <br>
							チョコクリーム
							<span class="img">
								<img src="<%= RELATIVE_PATH %>img/index/lineup-ico-02.png" alt="ボノボンチョコクリーム">
							</span>
						</span>
							</p>
							<p class="lineup-box__txt">
								ウエハースの中に滑らかな<br>チョコクリームを流し込み<br>さらにチョコレートでコーティング。
							</p>
							<p class="lineup-box__tag"><span>アレルギー</span></p>
							<ul class="lineup-box__list">
								<li class="item">
									小麦
								</li>
								<li class="item">
									乳成分
								</li>
								<li class="item">
									落花生
								</li>
								<li class="item">
									大豆
								</li>
							</ul>
						</div>
					</div>
				</div>
				<span class="lineup-box__img pc-sm">
					<img src="<%= RELATIVE_PATH %>img/index/lineup-ico-03.png" alt="ボノボンクリーミークリーム">
				</span>
			</div>
		</div>
	</section>
	
	<section class="sec-secret">
		<div class="secret-box">
			<h2 class="secret-ttl effect01" id="box03">
				<span class="pc effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/secret-ttl.png" alt="secret 愛されるヒミツ">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/secret-ttl-bg-pc.png" alt="">
					</span>
				</span>
				<span class="sp effect-main">
					<img src="<%= RELATIVE_PATH %>img/index/secret-ttl-sp.png" alt="secret 愛されるヒミツ">
					<span class="before">
						<img src="<%= RELATIVE_PATH %>img/index/secret-ttl-bg-sp.png" alt="">
					</span>
				</span>
			</h2>
			<ul class="secret-list effectScale">
				<li class="secret-list__item effectScale-item">
					<div class="secret-list__img">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-01.png" alt="一口で口いっぱいに広がる甘さ。一粒で小腹満たしにも&#9825;">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-01-sp.png" width="279" alt="一口で口いっぱいに広がる甘さ。一粒で小腹満たしにも&#9825;">
						</span>
					</div>
					<p class="secret-list__des">
						一口で口いっぱいに広がる甘さ。<br>
						一粒で小腹満たしにも&#9825;
					</p>
				</li>
				<li class="secret-list__item effectScale-item">
					<div class="secret-list__img">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-02.png" alt="リボンのような包みが可愛い&#9825; ちょっとしたプレゼントにも映えます。">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-02-sp.png" width="278" alt="リボンのような包みが可愛い&#9825; ちょっとしたプレゼントにも映えます。">
						</span>
					</div>
					<p class="secret-list__des">
						リボンのような包みが可愛い&#9825; <br>
						ちょっとしたプレゼントにも映えます。
					</p>
				</li>
				<li class="secret-list__item effectScale-item">
					<div class="secret-list__img">
						<span class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-03.png" alt="あなたのカバンやデスクに&#9825;いつでもどこでも、あなたのそばに。">
						</span>
						<span class="sp">
							<img src="<%= RELATIVE_PATH %>img/index/secret-img-03-sp.png" width="281" alt="あなたのカバンやデスクに&#9825;いつでもどこでも、あなたのそばに。">
						</span>
					</div>
					<p class="secret-list__des">
						あなたのカバンやデスクに&#9825;<br>いつでもどこでも、あなたのそばに。
					</p>
				</li>
			</ul>
			
			<div class="secret-candy animation1">
				<img src="<%= RELATIVE_PATH %>img/index/secret-candy.png" width="249" alt="secret 愛されるヒミツ">
			</div>
			<div class="secret-person">
				<img src="<%= RELATIVE_PATH %>img/index/secret-person.png" alt="secret 愛されるヒミツ">
			</div>
		</div>
	</section>
	
	<section class="sec-scene">
		<div class="scene-box">
			<h2 class="scene-ttl" id="box04">
				<span class="en">
					scene
				</span>
				こんなときに<br>“ボノボン”を楽しもう
			</h2>
			
			<ul class="scene-list effectScale">
				<li class="scene-list__item effectScale-item">
					<div class="scene-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/scene-img-01.png" alt="scene.01">
					</div>
					<div class="scene-list__content">
						<h3 class="scene-list__ttl">
							scene.01
						</h3>
						<p class="scene-list__des">
							「勉強や仕事の合間に&#9825;」
						</p>
						<p class="scene-list__txt">
							糖分補給で効率UP。<br>
							デスクに置いてあげたら喜ばれるかも&#9825;
						</p>
					</div>
				</li>
				<li class="scene-list__item effectScale-item">
					<div class="scene-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/scene-img-02.png" alt="scene.02">
					</div>
					<div class="scene-list__content">
						<h3 class="scene-list__ttl">
							scene.02
						</h3>
						<p class="scene-list__des">
							「パーティーに&#9825;」
						</p>
						<p class="scene-list__txt">
							お泊まり会や女子会に。<br>
							インスタ映えアイテムとしてもバッチリ&#9825;
						</p>
					</div>
				</li>
				<li class="scene-list__item effectScale-item">
					<div class="scene-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/scene-img-03.png" alt="scene.03">
					</div>
					<div class="scene-list__content">
						<h3 class="scene-list__ttl">
							scene.03
						</h3>
						<p class="scene-list__des">
							「ご褒美に&#9825;」
						</p>
						<p class="scene-list__txt">
							部活や仕事帰りに。<br>
							ちょっと頑張った自分へのご褒美&#9825;
						</p>
					</div>
				</li>
				<li class="scene-list__item effectScale-item">
					<div class="scene-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/scene-img-04.png" alt="scene.04">
					</div>
					<div class="scene-list__content">
						<h3 class="scene-list__ttl">
							scene.04
						</h3>
						<p class="scene-list__des">
							「いつもありがとう&#9825;」
						</p>
						<p class="scene-list__txt">
							大切な人や家族に。<br>
							感謝の気持ちを込めて&#9825;
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	
	<section class="sec-available">
		<h2 class="available-ttl effect01">
			<span class="pc effect-main">
				<img src="<%= RELATIVE_PATH %>img/index/available-ttl.png" alt="全国のコンビニエンスストア・量販店にて販売中！">
				<span class="before">
					<img src="<%= RELATIVE_PATH %>img/index/available-ttl-bg-pc.png" alt="全国のコンビニエンスストア・量販店にて販売中！">
				</span>
			</span>
			<span class="sp effect-main">
				<img src="<%= RELATIVE_PATH %>img/index/available-ttl-sp.png" width="352" alt="全国のコンビニエンスストア・量販店にて販売中！">
				<span class="before">
					<img src="<%= RELATIVE_PATH %>img/index/available-ttl-bg-sp.png" width="352" alt="全国のコンビニエンスストア・量販店にて販売中！">
				</span>
			</span>
		</h2>
		<p class="available-txt">
			あなたも想いを伝えたいあの人に<br>ボノボンを贈りませんか？
		</p>
	</section>
	
	<section class="sec-social">
		<div class="inner social__inner">
			<div class="social-twitter">
				<h2 class="social__ttl ttl-comp01">
					<span class="pc">
						<img src="<%= RELATIVE_PATH %>img/index/social-twitter.png" alt="twitter">
					</span>
					<span class="sp">
						<img src="<%= RELATIVE_PATH %>img/index/social-twitter-sp.png" alt="twitter">
					</span>
				</h2>
				
				<a class="twitter-timeline" data-width="480" data-height="618" data-chrome="noheader nofooter noborders" href="https://twitter.com/welovebonobon">Tweets by TwitterDev</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
			<div class="social-insta">
				<h2 class="social__ttl ttl-comp01">
					<span class="pc">
						<img src="<%= RELATIVE_PATH %>img/index/social-insta.png" alt="instagram">
					</span>
					<span class="sp">
						<img src="<%= RELATIVE_PATH %>img/index/social-insta-sp.png" alt="instagram">
					</span>
				</h2>
				
				<img src="<%= RELATIVE_PATH %>img/index/gallery-insta.png" alt="instagram">
			</div>
		</div>
	</section>
</main>